# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]

# Entorno virtual
env/
venv/
.venv/

# Django
db.sqlite3
*.sqlite3
staticfiles/
media/

# Variables de entorno
.env
.env.*

# Imágenes y archivos multimedia
images/
*.png
*.jpg
*.jpeg
*.gif
*.webp

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.suo
*.user

# Logs
*.log
